@import url('/home/escola/Área de Trabalho/revolucao-francesa-og.jpg');


.logotipo{
    width: 120px;
    position: relative;
    top: 20px;
    left: 20px;
}


.cabecalho{
    background-color: #8b8b8b;
    color: rgb(14, 1, 1);
}


.cabecalho-lista{
    display: flex;
    position: relative;
    left: 300px;
}

.cabecalho-lista-item{
    font-size: 25px;
    margin-left: 60px;


}


body {
    background-color: rgb(148, 146, 146);
} 

.secao1{
    display: grid;
    grid-template-columns: 40% 40%;
    margin-left: 10%;
}   |


