fleade
@import url('https://images.app.goo.gl/ws233rLbf3AB8LP29');


.logotipo{
    width: 120px;
    position: relative;
    top: 20px;
    left: 20px;
}


.cabecalho{
    background-color: #f1eade;
    color: rgb(14, 1, 1);
}


.cabecalho-lista{
    display: flex;
    position: relative;
    left: 300px;
}

.cabecalho-lista-item{
    font-size: 17px;
    margin-left: 50px;


}


