fleade
@import url('https://images.app.goo.gl/ws233rLbf3AB8LP29');


.logotipo{
    width: 120px;
    position: relative;
    top: 20px;
    left: 20px;
}


.cabecalho{
    background-color: #f8f7f3;
    color: rgb(14, 1, 1);
}


.cabecalho-lista{
    display: flex;
    position: relative;
    left: 300px;
}

.cabecalho-lista-item{
    font-size: 25px;
    margin-left: 60px;


}


body {
    background-color: rgb(255, 255, 255);
} 
